.item-count {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.item-cartCard {

    display: flex;
    flex-direction: column;

}

.item-cartCount {
    border-radius: 27px;
    border-color: inherit;
    font-weight: lighter;
    background-color: white;
    display: flex;
    height: 1.9em;
    width: 9em;
    ;
    justify-content: space-between;


    box-shadow: 0em 0em 0em 0.1em rgba(0, 0, 0, 0.1);
}

.item-cartConfirm {
    color: rgb(69, 83, 196);
    border-radius: 27px;
    margin-top: 1em;
    border: none;
    height: 1.9em;

    width: 12em;
}

cartMinus {
    width: 2em;
    border-style: none;
    color: red;
}

.item-CartNumber {
    margin: auto;
}

.counter-text {
    display: flex;
    // justify-content: flex-start;
    // align-items: flex-start;
    font-size: small;
    font-weight: lighter;
}