.cart-icon {
     width: 10px;
      height: 1px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    /* background-color: #000;
    color: #fff; */
    font-size: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding-right: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.header{
    align-items: flex-start;
    
}
.header-li{
    align-items: flex-start;

}

body {
    background: #000;
    min-height: 100vh;

}

.imgLogo {
    width: 50px;
    height: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky {
    box-shadow: 0em 0em 0.5em 0.5em rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-right: 200px;
    padding: 5px 100px;
    // background: #fff;
    background: transparent;
    width: 100vw;
    display: flex;
    align-self: center;
}

header .logo {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;

}

.href:hover {
    font-size: 1.2em;
    letter-spacing: 2px;
    transition: 0.6s;
}

header .header-ul {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.header .header-ul .header-li {
    position: relative;
    list-style: none;
}

.header .header-ul .header-li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    align-items: flex-start
}

.banner {
    margin-top: 0%;
    position: relative;
    width: 100%;
    height: 20vh;
    background: url(..//img/relax1.png);
    background-attachment: scroll;
    background-size: cover;
    background-color: #000;
    /* background-size: cover; */
    /* background-attachment:: */
    
    
}

header.sticky .logo,
header.sticky .header-ul .header-li a {
    color: #000
}


@media screen and (min-width: 425px) {

    //  header,
    //  header.sticky {
    //      margin-left: 0px;
    //      display: flex;
    //      flex-direction: column;
    //      width: 100vw;


    //  }
     .imgLogo {
        width: 50px;
        height: 50px;
    }
     .banner{
         width: 100vw;
     }

}
@media screen and (max-width: 820px) {

    header,
    header.sticky {
        margin-left: 0px;
        display: flex;
        flex-direction: column;


    }
    .header-ul {
        font-size: 12px;
        align-items: center;
        justify-content: center;



    }
    .header{
        align-items: center;
        
    }
   

}

@media screen and (max-width: 390px) {
    .header{
        align-items: center;
        justify-content: center;
    }
    .header-ul {
        font-size: 8px;
        align-items: center;
        justify-content: center;



    }

    .imgLogo {
        width: 30px;
        height: 30px;
    }

    .banner {
        width: 100vw;
    }
}

@media screen and (max-width: 350px) {
    .imgLogo {
        width: 0px;
        height: 0px;
    }
    .header{
        align-items: center;
        justify-content: center;
    }

}